@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
body{
    font-family: 'Ubuntu';
}
.heroBackground {
    background-image: url('./fdata/images/hero.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.clothing {
    background-image: url('./fdata/images/clothing.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.shoes {
    background-image: url('./fdata/images/shoes.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.accessories {
    background-image: url('./fdata/images/accessories.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.sales{
    background-image: url('./fdata/images/sales.webp');
    background-repeat: no-repeat;
    background-size: cover;
}



body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;